* {box-sizing: border-box}

.container {
  padding: 16px;
}
body{
    
    background-color: rgb(192, 172, 166);
}
.first{
    color: rgb(30, 255, 0);
    font-weight: bold;
    background-color: rgb(86, 64, 104);
  }
  .second{
    color: rgb(235, 203, 23);
    font-weight: bold;
    background-color: rgb(86, 64, 104);
  }
  /* .dot {
      
    height: 25px;
    width: 25px;
    background-color: rgb(100, 170, 19);
    border-radius: 50%;
    display: inline-block;
  } */



input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


h2{
  color: rgb(218, 132, 226);  
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
