* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #767de6;
  color: rgb(212, 11, 11);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Adding text color to links */
a {
  color: rgb(81, 78, 221);
  font-weight: bold;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.s{
  color: rgb(228, 135, 15);
  font-weight: bolder;
  font-size:x-large ;
  background-color: #b2b5e0;
}
.signin{
  color: rgb(81, 78, 221);
}
h1{
  text-shadow: #767de6;
  font-weight: bolder;
  color: rgb(4, 3, 7);
  /* background-color: rgb(165, 157, 204); */
}
body {
   /* background-image: url("https://www.science.org/do/10.1126/science.aac4663/abs/sn-rockpaper.jpg"); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRKiX0bSbeksO1HsVn41us68Uhz4rYjq-xRg&usqp=CAU"); */
  background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2016_11/1016236/rock-paper-scissors-today-tease2-160317.jpg"); 
  background-position: center;
  background-size: cover;
 }